<script setup>
import { onMounted, ref, reactive } from "vue";
import { v4 as uuidv4, validate as uuidValidate } from "uuid";
import { Copy, CopySuccess, Refresh } from "vue-iconsax";
import Swal from "sweetalert2";

const uuid = ref("");
const isCopyMode = ref(false);
const inputRef = ref();

const isUuid = () => {
    if (uuid.value) {
        console.log(uuid.value.length);
        const isUUID = uuidValidate(uuid.value);

        if (isUUID) {
            Swal.fire({
                icon: "success",
                title: "Yeahh",
                text: "String you typed is UUID!",
            });
        } else {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Maybe that string is not a valid UUID!",
            });
        }
        console.log(uuidValidate(uuid.value));
    }
};

onMounted(() => {});
</script>

<template>
    <section class="flex flex-col">
        <input
            ref="inputRef"
            type="text"
            maxlength="36"
            v-model="uuid"
            class="outline-none text-sm font-ubuntu-mono w-[60%] mx-auto border-2 border-blue-600/5 px-6 py-3 rounded-md"
            placeholder="type uuid here"
        />

        <div class="mt-3">
            <button type="button" class="base-btn text-sm" @click="isUuid">
                Check
            </button>
        </div>
    </section>
</template>

<script>
export default {
    name: "list-uuid",
};
</script>

<style></style>
