<script setup>
import { onMounted, ref, reactive } from "vue";
import { v4 as uuidv4 } from "uuid";
import { Copy, CopySuccess, Refresh } from "vue-iconsax";

const uuid = ref("");
const isCopyMode = ref(false);
const inputRef = ref();

const handleCopy = () => {
    console.log("clicked");
    inputRef.value.select();
    document.execCommand("copy");
    isCopyMode.value = true;

    setTimeout(() => {
        isCopyMode.value = false;
    }, 3000);
};

const generateUuid = () => {
    isCopyMode.value = false;
    uuid.value = uuidv4();
};

onMounted(() => {
    uuid.value = uuidv4();
});
</script>

<template>
    <section>
        <button class="inline-block text-sm my-3" @click="generateUuid">
            <div class="flex items-center justify-center gap-3 text-sm">
                <Refresh :size="14" type="linear" />
                Create another one
            </div>
        </button>
        <div
            class="relative w-[60%] mx-auto border-2 border-blue-600/5 px-6 py-3 rounded-md"
        >
            <input
                ref="inputRef"
                type="text"
                v-model="uuid"
                class="w-full pr-8 outline-none text-sm font-ubuntu-mono"
                readonly
            />

            <button
                @click="handleCopy"
                :disabled="isCopyMode"
                :class="{ 'cursor-not-allowed': isCopyMode }"
            >
                <Copy
                    v-if="!isCopyMode"
                    :size="20"
                    type="linear"
                    class="absolute top-3 right-5 translate-y-1 text-blue-600"
                />
                <CopySuccess
                    v-if="isCopyMode"
                    :size="20"
                    type="linear"
                    class="absolute top-3 right-5 translate-y-1 text-blue-600"
                />
            </button>
        </div>
    </section>
</template>

<script>
export default {
    name: "list-uuid",
};
</script>

<style></style>
