@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Poppins", sans-serif;
    }
}

@layer components {
    .base-btn {
        @apply px-6 py-2 bg-gray-600/10 text-gray-800 rounded-md;
    }
    .active-btn {
        @apply bg-blue-600 text-white focus:ring-4 focus:ring-blue-600/20;
    }
}
