<script setup>
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
    <section class="max-w-xl mx-auto py-5 flex flex-col h-screen text-center">
        <header class="my-10">
            <h1 class="font-semibold text-lg capitalize">
                UUID V4 <span class="text-gray-600">Generator</span>
            </h1>

            <section class="space-x-4 my-5">
                <RouterLink to="/" class="base-btn">Create UUID</RouterLink>
                <RouterLink to="/check" class="base-btn">Check UUID</RouterLink>
            </section>
        </header>

        <main>
            <RouterView />
        </main>
    </section>
</template>

<style scoped></style>
